<article class="index">
  <span class="date d-none d-md-block text-right">
    {{- .Date.Format "January 2, 2006" -}}<br/><span class="reading-time">{{ .ReadingTime }} minutes</span>
  </span>
  <a href="{{ .Permalink }}" class="no-underline"><h3>{{ .Title }}</h3></a>
  <p class="date d-md-none">
    {{- .Date.Format "January 2, 2006" -}}
    {{ .ReadingTime }} minutes
  </p>
  <div class="tags">
    {{ range .Params.tags }}
      <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
</article>
