<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
      <main>
        <section class="container">
          <article class="single">
            <div class="right">
              <div>{{ .Date.Format "January 2, 2006" }}</div>
              <div class="reading-time">{{ .ReadingTime }} minutes</div>
              <div class="word-count">{{ .WordCount }} words</div>
            </div>
            <div class="tags">
              {{ range .Params.tags }}
                <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
            <h2>{{ .Title }}</h2>
            <div>
              {{ .Content }}
            </div>
          </article>
        </section>
      </main>
    {{ partial "footer.html" . }}
  </body>
</html>
