<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if ne .Title .Site.Title  }}
      <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ else }}
      <title>{{ .Title }}</title>
    {{ end }}
    <link rel="stylesheet" href="/css/stark.css">
    <link rel="icon" href="/favicon.ico?v=1" />
  </head>
  <body>
    <header>
      <nav id="header-nav">
        <ul id="primary-nav" class="left">
          {{ range .Site.Menus.home }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ range .Site.Menus.left }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        <ul id="secondary-nav" class="right hidden-sm left-sm">
          {{ range .Site.Menus.right }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        <button id="nav-button" data-nav-id="secondary-nav" type="button" name="button">
          <span class="menu-icon">&#9776;</span>
        </button>
      </nav>
    </header>
    <main>
      <div class="container">
