<header>
  <nav>
    <ul id="brand" class="left">
      {{ range .Site.Menus.brand }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul id="primary-nav" class="right d-none d-md-block">
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      <li class="nav-item"><a class="toggle-menu"><i class="fas fa-bars fa-lg"></i></a></li>
    </ul>
    <ul id="primary-nav" class="right d-md-none">
      <li class="nav-item"><a class="toggle-menu"><i class="fas fa-bars fa-lg"></i></a></li>
    </ul>
  </nav>
</header>
<nav id="full-screen-nav">
  <div></div>
  <ul>
    {{ range .Site.Menus.main }}
      <li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
  <div>
    <p class="text-center centered-statement"><a target="_blank" href="mailto:hello@nikovacevic.io">hello@nikovacevic.io</a></p>
    <ul class="nav justify-content-center">
      {{ range .Site.Menus.social }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}"><i class="{{ .Pre }}"></i></a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
