@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Roboto+Mono|Noto+Serif:400i');

html {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  background: #FFFFFF;
}
body {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  color: #303030;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.02em;
}

p {
  margin-bottom: 1.2em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
p.centered-statement {
  width: 75%;
  font-size: 1.2em;
  margin: 0 auto;
}

a,a:visited {
  text-decoration: none;
  color: #303030;
}
a:hover,a:active {
  color: #000000;
}
a.no-underline:hover,
a.no-underline:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  color: #303030;
  font-size: 3.6em;
  letter-spacing: 0.02em;

  margin: 0;
  margin-left: 45px;
  margin-bottom: 30px;

  text-align: left;
  text-shadow: 1px 1px 1px #E0E0E0;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.6em;
    margin-left: 30px;
    margin-bottom: 24px;
  }
}
h2 { color: #303030; font-size: 2.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h2.list-key {
  color: #C0C0C0;
}
h3 { color: #303030; font-size: 1.6em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h4 { color: #303030; font-size: 1.4em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h5 { color: #606060; font-size: 1.2em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }
h6 { color: #606060; font-size: 1.0em; letter-spacing: 0.02em; line-height: 1.4; margin: 0.8em 0 0.4em 0; }

ul,ol {
  margin: 0 0 1em 0;
  padding-left: 24px;
}
ul {
  list-style-type: none;
  padding-left: 6px;
}
li:not(.nav-item) {
  margin-bottom: 4px;
}
li img {
  padding: 1em 1em 1em 0;
}

pre {
  padding: 14px 20px;
  background: #F0F0F0;
  color: #303030;
  overflow-x: scroll;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  border-radius: 2px;
}
code {
  font-family: 'Roboto Mono', monospace;
}
blockquote {
  font-family: "Noto Serif", serif;
  font-size: 1.4em;
  font-style: italic;
  border-radius: 4px;
  border-left: 4px solid #EEE;
  margin-top: 0;
  -webkit-margin-before: 0;
  margin-bottom: 1em;
  -webkit-margin-after: 1em;
  margin-left: 0;
  -webkit-margin-start: 0;
  margin-right: 1em;
  -webkit-margin-end: 1em;
  padding-left: 1em;
}

table {
  margin: 0 0 1em 0;
}
table th,
table td {
  padding: 0.4em;
  text-align: center;
}
table thead tr {
  border-bottom: 1px solid #888;
}

.hidden {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.opaque {
  opacity: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #FFFFFF;
}
header>nav {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 12px;
  background: transparent;
  transition: all 0.4s;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.2px;
  font-size: 1em;
}
header>nav #primary-nav {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
}
header>nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent;
}
header>nav>ul>li {
  display: inline-block;
  margin: 0;
}
header>nav>ul>li a,
header>nav>ul>li button {
  display: inline-block;
  padding: 0 24px;
  line-height: 48px;
  border: none;
  transition: all 0.2s;
  color: #303030;
  margin-top: 6px;
  border-bottom: 3px solid transparent;
}
header>nav>ul>li a:visited {
  color: #303030;
}
header>nav>ul>li a:hover {
  text-decoration: none;
  color: #303030;
  border-bottom: 3px solid #303030;
}
header>nav>ul>li a.toggle-menu {
  cursor: pointer;
}

nav#full-screen-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  transform: translateY(-100%);
  transition: transform 0.25s;
  background: #FFFFFF;
  z-index: 999;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav#full-screen-nav.visible {
  transform: translateY(0);
}
nav#full-screen-nav ul {
  font-size: 1.6em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}
nav#full-screen-nav ul li {
  line-height: 2.8em;
  margin: 0 12px;
}
nav#full-screen-nav ul li a {
  color: #303030;
}
nav#full-screen-nav ul li a:hover {
  color: #303030;
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 61px;
}
main section.container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
main section.container:first-of-type {
  margin-top: 0;
  padding-top: 0;
}
main img {
  max-width: 100%;
}

.footref {
  font-weight: 400;
}
.footref sup.ref {
  padding-left: 2px;
}

.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  margin: 1em 0;
}
.iframe-container.ic169 {
  padding-bottom: 56.25%;
}
.iframe-container.ic43 {
  padding-bottom: 75%;
}
.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tags a.tag {
  border-radius: 2px;
  background: #F0F0F0;
  color: #505050;
  font-size: 0.7rem;
  padding: 3px 8px;
  margin: 4px 2px;
  display: inline-block;
}
.tags a.tag:first-of-type {
  margin-left: 0;
}
.tags a.tag:hover {
  color: #303030;
  background: #E6E6E6;
  text-decoration: none;
}

/* index.html */
article.index {
  margin-bottom: 30px;
}
article.index a h3 {
  margin-bottom: 8px;
  color: #444;
}
article.index a:hover h3 {
  color: #333;
}
article.index span.date {
  float: right;
}
article.index p.date {
  margin-bottom: 2px;
}

/* single.html */
article.single {
  padding-top: 20px;
}
article.single div.right {
  text-align: right;
  float: right;
}

footer {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.social-media-nav {
  background: #FFFFFF;
  color: #303030;
}
.social-media-nav li a,
.social-media-nav li a:visited {
  line-height: 80px;
  padding: 0 24px;
  color: #303030;
}
.social-media-nav li a:active,
.social-media-nav li a:hover {
  color: #303030;
}
footer p.copyright {
  text-align: center;
  font-size: 0.85em;
  color: #666;
  margin: 40px 0 30px 0;
}
